@model IEnumerable<GHFile>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
       @foreach (var file in Model)
       {
           <p>@file.name</p>
       }
    </div>
</div>
