@model IEnumerable<GHFile>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
       @foreach (var file in Model)
       {
           <p><b>@file.name</b> @file.content.Substring(0, 40)</p>
       }
    </div>
</div>
